*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.title{
    font-size: 60px;
    font-family: sans-serif;
    line-height: 75px;
    font-weight: bold;
    position: relative;
}

.title::before{
    content: "";
    height: 4px;
    width: 60px;
    left: 0;
    bottom: 0;
    background-color: #FCBB08;
    position: absolute;
}

.header__top{
    padding: 10px 0;
}

.header__top_inner{
    /* height: 94px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu__list-link{
    color: #373A39;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    font-weight: bold;
    transition: all 0.5s;
}

.menu__list-link:hover  {
    border-bottom: 2px solid #FCBB08;
}

.header__content{
    background-image: url(../image/Header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    background-position: center;
}

.header__content_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 86.4px);
}

.header__title{
    font-size: 72px;
    line-height: 88px;
    font-family: sans-serif;
    color: white;
    padding-top: 250px;
    padding-bottom: 30px;
}

.header__subtitle{
    font-size: 16px;
    line-height: 20px;
    color: #FCBB08;
    margin-bottom: 150px;
}

.about__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 150px 0 150px;
}

.about__title{
    font-size: 48px;
    line-height: 75px;
}

.about__text{
    font-size: 14px;
    line-height: 24px;
    max-width: 770px;
}

.expertise{
    padding: 144px 0 164px;
}

.expertise__title{
    margin-bottom: 102px;
   
}

.expertise__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 415px; */
}

.expertise__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
}

.expertise__info-items{
    width: 370px;
    margin-right: 30px;
    margin-top: 5px;
    width: 100%;
}

.expertise__info-text{
    max-width: 770px;
}

.expertise__info-item{
    border-top: solid 2px #1D1D1D;
    font-size: 11px;
    font-family: sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 28px;
    padding-top: 2px;
    position: relative;
}

.expertise__info-text p{
    line-height: 24px;
    font-size: 14px;
    font-family: sans-serif;
    
}

.expertise__info-text p:nth-child(1){
    margin-bottom: 25px;
}



.expertise__info-item span{
    position: absolute;
    right: -10px;
    top: -2px;
    margin-right: 10px;
    display: block;
}

.expertise__info-item span::before{
    content: "";
    background-color: #F0F0F0;
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 100%;
}

.expertise__items{
    display: flex;
}

.expertise__item{
    max-width: 370px;
    max-height: 140px;
    margin-right: 30px;
    /* margin-bottom: 165px; */
}

.expertise__designe{
    font-size: 14px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    padding-left: 80px;
}

.expertise__designe::before{
    content: "";
    background-image: url(../image/designe.svg);
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

.expertise__web{
    font-size: 14px;
    line-height: 20px;
    padding-left: 80px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}

.expertise__web::before{
    content: "";
    background-image: url(../image/monitor.svg);
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

.expertise__marketing{
    font-size: 14px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 80px;
    position: relative;
}

.expertise__marketing::before{
    content: "";
    background-image: url(../image/speaker__copy.svg);
    width: 50px;
    height: 52px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
}

.expertise-text{
    font-size: 14px;
    line-height: 24px;
    font-family: sans-serif;
    max-width: 285px;
    margin-left: 80px;
}

