*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

body{
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top{
    padding: 10px 0;
}

.header__top_inner{
    /* height: 94px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu__list-link{
    color: #373A39;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 0.6px;
    font-weight: bold;
    transition: all 0.5s;
}

.menu__list-link:hover  {
    border-bottom: 2px solid #FCBB08;
}

.header__content{
    background-image: url(../image/Header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height: 100vh; */
    background-position: center;
}

.header__content_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 95px);
}

.header__title{
    font-size: 72px;
    line-height: 88px;
    font-family: sans-serif;
    color: white;
    padding-top: 250px;
    padding-bottom: 20px;
}

.header__subtitle{
    font-size: 16px;
    line-height: 20px;
    color: #FCBB08;
    margin-bottom: 150px;
}

